$primaryColor : #2b2b2b;
$secondaryColor: #818181;
$white : #FFF;
$linkColor:#155d9a;
$buttonBorder: #8f8a8a;
$borderColor: #eee;
$borderColorLight: #e4e4e4;
$backgroundColor: #f3f3f3;
$disabledBackgroundColor: #f8f8f8;
$disabledTextColor: #bbb8b8;
